.MatchPage {

    .team-name-section {
        margin-bottom: 1rem;

        h1.team-name {
            font-size: 4rem;
        }

        span {
            text-align: right;
            font-size: 1.5rem;
        }
    }
    
}